FlippingBits/.idea/
FlippingBits/out/
BinaryConverter/out
BinaryConverter/.idea
BinaryConverter/BinaryConverter.iml
PrimitiveSize/.idea/
PrimitiveSize/out/
course187/.idea/
course187/course187.iml
PrimitiveSize/PrimitiveSize.iml